@font-face {
  font-family: meslo-bold;
  src: url(/font/meslo-bold.woff);
  font-weight: Bold;
}

@font-face {
  font-family: meslo-regular;
  src: url(/font/meslo-regular.woff);
}

@font-face {
  font-family: meslo-italic;
  src: url(/font/meslo-italic.woff);
}

body {
  background-color: #010013;
  /* margin: 0rem 8.125rem; */
  margin: 0%;
  margin-top: 2.5rem;
  padding: 0%;
  display: grid;
  grid-template-columns: 1fr;
}

h1,
h2,
h3,
p {
  margin: 0rem;
}

ul {
  margin: 0rem;
  padding: 0rem;
}

img {
  max-width: 100%;
  display: block;
}

.container-width {
  margin: 0rem 8.125rem;
}

.container-width1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0rem 8.125rem;
}

.container-width2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr;
  margin: 0rem 8.125rem;
}

* {
  --cor-gradient: #0b226f;
}
